/* Base Styles */


@import "moss.css";
html {
    height: 100%;
}
body {
    background: url("../img/bg-tile.jpg") repeat scroll 0 0 transparent;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6) inset;
    color: #FFFFFF;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    min-height: 100%;
}
header {
    min-height: 150px;
    padding: 15px;
}
h3 {
    background: url("../img/logo.png") no-repeat scroll center bottom / contain transparent;
    color: #FFFFFF;
    font-family: Times,TimesNewRoman,"Times New Roman",Baskerville,Georgia,serif;
    font-size: 16px;
    font-weight: normal;
    height: 114px;
    margin: 15px auto;
    max-width: 100%;
    text-indent: -9999px;
    width: 314px;
}
h2 {
    font-variant: small-caps;
}
h1 {
    color: #AC6D4A;
    font-weight: normal;
}
h1.white {
    color: #FFFFFF;
    font-weight: normal;
}
h4 {
    color: #45372E;
}
h4.tan {
    color: tan;
}
.top-bar {
    margin-bottom: 0.8em;
}
.menu-icon {
    font-variant: small-caps;
}
.top-bar .toggle-topbar a {
    text-transform: none;
}
.top-bar-section ul li > a, .top-bar-section ul {
    background: none repeat scroll 0 0 transparent;
}
.top-bar-section ul li.active > a {
    background: none repeat scroll 0 0 rgba(212, 175, 141, 0.6);
}
.top-bar-section .divider, .top-bar-section [role="separator"] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.orbit-prev, .orbit-next, .orbit-slide-number {
    display: none;
}
.slider {
    margin-bottom: 15px;
    position: relative;
}
.slider.inner {
    background-image: url("../img/slatetile.jpg");
    background-repeat: repeat;
}
.inner-banner {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #141414;
}
.inner-banner-text .info {
    background: none repeat scroll 0 0 #EDDED5;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
}
.inner-banner-text .info p {
    margin: 0;
}
.inner-banner h1 {
    font-family: Times,TimesNewRoman,"Times New Roman",Baskerville,Georgia,serif;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 5px 0 0;
}
.inner-banner h4 {
    font-size: 15px;
    margin: 0 0 10px;
}
.inner-banner p {
    font-size: 12px;
}
.slider .banner-overlay {
    bottom: 25px;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.4), -12px 0 8px -4px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-size: 13px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.slider .banner-side {
    background-color: rgba(0, 0, 0, 0.65);
    height: 387px;
    overflow: hidden;
    padding: 10px 14px;
}
.contact {
    width: 100%;
}
.smallthumbs {
}
.clearing-assembled li {
    float: left;
    margin-right: -3px;
}
.slider .banner-overlay {
    left: 50%;
    margin-left: -500px;
    max-width: 1000px;
    min-height: 398px;
}
.top-bar, .top-bar.expanded {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}
.top-bar.expanded .title-area {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.orbit-bullets {
    margin: 0;
    text-align: center;
    top: -30px;
}
.orbit-bullets li {
    border-color: white;
    display: inline-block;
    float: none;
}
.orbit-bullets li.active {
    background: none repeat scroll 0 0 #AC6D4A;
}
.foundicon-twitter {
    color: #45B0E3;
}
.foundicon-youtube {
    color: #E70031;
}
.section-container.vertical-nav > section > .title, .section-container.vertical-nav > .section > .title {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    cursor: pointer;
    margin-bottom: 0;
}
.section-container.vertical-nav > section > .title a, .section-container.vertical-nav > .section > .title a {
    color: white;
    display: inline;
    font-size: 0.875em;
    padding: 0.4em;
    white-space: nowrap;
    width: 100%;
}
.section-container.vertical-nav > section > .title a:hover, .section-container.vertical-nav > .section > .title a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 5px 5px;
    color: white;
}
.section-container.vertical-nav > section.active > .title a, .section-container.vertical-nav > .section.active > .title a {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 5px 5px;
    color: tan;
}
.section-container, .section-container.auto {
    margin-bottom: 0;
}
.section-container.vertical-nav > section.active > .content, .section-container.vertical-nav > .section.active > .content {
    background-color: rgba(0, 0, 0, 0.6);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: white !important;
    display: block;
    min-width: 15em;
    padding: 0.4em;
    position: absolute;
    right: 80%;
    top: 0;
    z-index: 999;
}
.section-container.vertical-nav > section.active > .content, .section-container.vertical-nav > .section.active > .contentigloo {
    background-color: rgba(0, 0, 0, 0.6);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: white !important;
    display: block;
    min-width: 15em;
    padding: 0.4em;
    position: absolute;
    right: 60%;
    top: 0;
    z-index: 999;
}
.section-container.vertical-nav > section .content, .section-container.vertical-nav > .section .contentigloo {
    display: none;
}
.side-nav li a {
    color: white;
    display: block;
}
.side-nav li a:hover {
    color: tan;
    display: block;
}
.section-container, .section-container.auto {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color black black;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: block;
    margin-bottom: 1.25em;
    width: 100%;
}
.lighting {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: auto;
    margin-bottom: 0.5em;
    padding: 0.8em;
    width: 100%;
}
.lighting p {
    color: tan;
    font-family: arial !important;
    font-size: 11pt;
    margin-bottom: 0;
}
.lighting a {
    color: tan;
    font-family: arial !important;
    font-size: 11pt;
    margin-bottom: 0;
}
.lighting a:hover {
    color: white;
    font-family: arial !important;
    font-size: 11pt;
    margin-bottom: 0;
}
header {
    min-height: 170px;
}
h1 {
    text-align: left;
}
.top-bar, .top-bar-section ul li.active > a, .top-bar-section ul, .top-bar-section ul {
    background: none repeat scroll 0 0 transparent;
}
.top-bar-section ul li {
    float: right;
}
.top-bar-section ul li a {
    font-family: Times;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 0.6px;
}
.top-bar-section ul li:nth-child(6), .top-bar-section ul li:nth-child(10), .top-bar-section ul li:nth-child(14), .top-bar-section ul li:nth-child(18) {
    clear: right;
}
.top-bar-section ul li.divider {
    display: none;
}
.top-bar-section li a:not(.button) {
    background: none repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    line-height: 30px;
    padding: 0 10px;
}
.top-bar-section li a:hover:not(.button) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
